* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NorseBold';
    src: url('assets/fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    align-items: stretch;
}

aside {
    position: relative;
    font-family: 'NorseBold', sans-serif;
    color: white;
    background-image: url('assets/images/background.png');
    width: 40%;
    min-height: 100%;
    height: auto;
}

aside > p {
    position: absolute;
    width: 100%;
    bottom: 1%;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

aside > p > a {
    color: white;
}

aside > h1 {
    position: absolute;
    display: block;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    align-content: center;
    font-size: calc(150px - calc(150px * 0.05));
    width: 100%;
    top: 20%;
}

h1 > img {
    display: inline-block;
    text-align: center;
    height: calc(150px - calc(150px * 0.3));
}

main {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
    height: 100%;
}

main > p:first-child {
    margin-top: 15%;
    font-size: 1.5em;
    font-weight: bold;
}

main > p {
    padding: 2rem;
}

p > span {
    font-style: italic;
}

h2 {
    margin-bottom: 15px;
}

fieldset {
    border: none;
    box-shadow: 5px 5px 10px rgb(176, 174, 174);
    padding: 0.7rem 2rem 2rem 2rem;
}

.input_container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: space-between;
}

.form_text_input {
    width: 48%;
    color: rgb(54, 69, 79);
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 0.8em;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    margin-bottom: 10px;
}

.form_text_input > input {
    border-color: lightgray;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.form_text_input > input:focus {
    border: solid blue 1px;
    box-shadow: 2px 2px 5px gray;
    outline: none;
}

.form_text_input > input:user-invalid {
    border-color: red;
}

button {
    background-color: rgb(132, 201, 244);
    margin: 20px;
    padding: 1rem 3rem;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px slategray;
}

button:hover {
    background-color: rgb(133, 143, 234);
    cursor: pointer;
}

button:active {
    box-shadow: none;
}

main > p:last-child {
    padding-top: 1rem;
    font-weight: normal;
    font-size: 1.2em;
}

main > p:last-child > a {
    color: rgb(132, 201, 244);
    text-decoration: none;
    font-weight: bold;
}

main > p:last-child > a:hover {
    color: rgb(133, 143, 234);
}

.invalid-text {
    color: red;
    letter-spacing: 1px;
}